{% extends 'mpass/base.html' %}
{% block content %}
	<div class="show_result mt-5">
		{% for result in people_in_house  %}
			<div class="card my-2 mx-2">
				{% if result.card.person_id.picture %}
					<img class="card-img-top" src="../media/{{result.card.person_id.picture}}" alt="">
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ result.card.person_id }}</h5>
					<p class="card-text">{{ result.card.person_id.group }}</p>
					<small>{{ result.when_come }}</small>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}