{% extends 'mpass/base.html' %}
{% block content %}
	<h5>New Card create</h5>
	<form action="" method="POST">
		{% csrf_token %}
		{{form}}
		<input type="submit" value="Save" class="btn btn-sm btn-success form-control mt-2">
	</form>
{% endblock content %}
{% block endscript %}
	<script>
		let valid_to = document.getElementById("id_valid_to")
		let valid_from = document.getElementById('id_valid_from')
		let id_card = document.getElementById("id_card")
		valid_to.addEventListener('click', event => {
			event.target.showPicker()
		})
	
		valid_from.addEventListener('click', event => {
			event.target.showPicker()
		})
		id_card.addEventListener("keypress", event => {
			if (event.key === "Enter") {
				event.preventDefault()
			}
		})
	</script>
{% endblock endscript %}